.navbar-text{
    font-weight:bold;
    color:black !important;
}
.jumbotron{
    background-size:cover;
    height:600px;
    background-image: url(images/slika2.jpg);
}
.jumbotron h1{
    font-weight:bold;
    text-align:center;
}
.jumbotron p{
    font-style:italic;
    font-size:20px;
    text-align:center;
}
.service-item{
    text-align: center;
    padding-bottom:40px;  
}
.service-item h4{
    text-transform: uppercase;
    font-weight:bold;
}
.service-item img{
    height:200px;
    width:200px;
    border:1px solid black;
}
.service-item:hover{
    border:1px solid black;
    background:lightskyblue;
    cursor:pointer;
    margin-top:30px;
}
#modalBody{
    height:200px;
    background-image:url('images/Lek.jpg');
    background-size: 100%; 
}
#modalBody p{
    padding-top: 190px;
}
.btn-default{
    padding-top: 170px;
}
#modalBody1{
    height:400px;
    background-image:url('images/Sprecavanje.png');
    background-size: 100%; 
}
#button1{
    padding-top:30px;
}
#myModal4 .modal-header{
    background-color:lightskyblue;
}
#myModal4 .modal-body{
    text-align: center;
}
#myModal4 .btn{
    background-color: lightskyblue;
    border:1px solid black;
}
#myModal4 .btn:hover{
    background-color:blue;
    cursor:pointer;
    color:white;
}